body {
  margin: 0;
}

.page-background {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #ffffff;

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 1200px;
  width: 90%;
}

.word-display h2 {
  letter-spacing: 5px;
  font-size: 24px;
  font-weight: bold;
}

.alphabet {
  margin-top: 15px;
}

.alphabet button {
  background-color: #f40b0b;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.alphabet button:disabled {
  background-color: #ffc227;
  cursor: not-allowed;
}

.game-status {
  margin-top: 20px;
}

.game-status h3 {
  font-size: 24px;
  color: #d9534f;
}

.game-status button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
